// Background
$bg-primary: #F6EAD9;
$bg-secondary: #E5D9C8;

// bg #B6A999

// Text
$text-primary: #4F4538;
$text-secondary: #73685A;

// $text-secondary: #A79B8C;

// Decorative
$decorative: #4B716A;
$decorative2: #7DA59E;

// https://hfxwojvorjjpsaodyeii.supabase.co/storage/v1/object/public/candles/swieczka-w-bialym-ubranku/S.jpg
// https://hfxwojvorjjpsaodyeii.supabase.co/storage/v1/object/public/candles/swieczka-w-bialym-ubranku/M.jpg
// https://hfxwojvorjjpsaodyeii.supabase.co/storage/v1/object/public/candles/swieczka-w-zlotym-ubranku/S.jpg
// https://hfxwojvorjjpsaodyeii.supabase.co/storage/v1/object/public/candles/swieczka-w-pomaranczowym-ubranku/M.jpg